@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 95%);
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

#container{
   display: flex;
    border: 1px solid white; 
    border-top-left-radius: 25px;   
    border-top-right-radius: 25px;
    width: 600px;   
    margin: auto;
    margin-top: 100px;
    background-color:ghostwhite;
    align-items: left;
    flex-direction: column; 
    min-height:fit-content;
      
}

div > h3{
    text-align: center;
    padding: 15px;
    font-size: 2rem;
    color: #3498db;
    background-color: azure;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;  
    border-bottom: 2px solid  #3498db;     
}

div{
    margin-top: 20px;
    padding: 10px;
}

input{
    font-size: 1.1rem;
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;  
}

input:focus{   
    outline: none;
}

#tips{
    margin-top: 10px;
    text-decoration: none;
    width: 100%;
    font-size: 1.2rem;
    padding: 10px;
    border: none;    
    background-color: #3498db;
    cursor: pointer;
    color: white;
}

#tips:hover{
    transform: scale(1.02);
}

input:focus::placeholder {
    color: transparent;
  }

  #service{
      font-size: 1.1rem;
      font-weight: lighter;
  }

  #select{
      font-weight: lighter;
  }

  div > p{
      font-size: 1.2rem;
      margin: 5px;
      text-align: center;
  }
   




